<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facturas</title>
</head>
<body>
    <h1>Emisor</h1>
    <p>CIF emisor: <i> {{ CIFEm }}</i></p>
    <p>Direccion emisor: <i> {{ DireccionEm }}</i></p>
    <p>Poblacion emisor: <i> {{ PoblacionEm }}</i></p>
    <p>Provincia emisor: <i> {{ ProvinciaEm }}</i></p>
    <p>CP emisor: <i> {{ CPEm }}</i></p>
    <p>Pais emisor: <i> {{ PaisEm }}</i></p>
    <p>Contacto emisor: <i> {{ ContactoEm }}</i></p>
    <p>Email emisor: <i> {{ EmailEm }}</i></p>
    <p>Telefono emisor: <i> {{ TelefonoEm }}</i></p>
    <h1>Cliente</h1>
    <p>CIF cliente: <i> {{ CIFCliente }}</i></p>
    <p>Direccion cliente: <i> {{ DireccionCliente }}</i></p>
    <p>Poblacion cliente: <i> {{ PoblacionCliente }}</i></p>
    <p>Provincia cliente: <i> {{ ProvinciaCliente }}</i></p>
    <p>CP cliente: <i> {{ CPCliente }}</i></p>
    <p>Pais cliente: <i> {{ PaisCliente }}</i></p>
    <p>Contacto cliente: <i> {{ ContactoCliente }}</i></p>
    <p>Email cliente: <i> {{ EmailCliente }}</i></p>
    <p>Telefono cliente: <i> {{ TelefonoCliente }}</i></p>
    <h1>Factura</h1>
    <p>Concepto: <i> {{ Concepto }}</i></p>
    <p>Precio: <i> {{ Precio }}</i></p>
    <p>Unidades: <i> {{ Unidades }}</i></p>
    <p>Importe bruto: <i> {{ ImporteBruto }}</i></p>
    <p>Concepto: <i> {{ Concepto }}</i></p>
    <p>IVA: <i> {{ IVA }} </i></p>
    <p>Importe total: <i> {{ ImporteTotal }}</i></p>
    <p>Total: <i> {{ ImporteTotal }}</i></p>
</body>
</html>